In [1]:
import tushare as ts
import pandas as pd
from pandas import DataFrame,Series
import numpy as np

pro = ts.pro_api('041ede9f0ab33a1281e1ce757b4b1ca0da35972e065ab1d08f9f078e')
df = pro.daily(ts_code='601888.SH',start_date = '20190101')
df.to_csv('./中免.csv')

In [2]:
import pandas as pd
df = pd.read_csv('./中免.csv')
#df.head()
df.drop(labels='Unnamed: 0',axis=1,inplace=True)
df.head()
df['trade_date'].dtype
df['time'] = pd.to_datetime(df['trade_date'],format = '%Y%m%d')
df.info()
df.head()
df.set_index('time',inplace=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083 entries, 0 to 1082
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ts_code     1083 non-null   object
 1   trade_date  1083 non-null   int64
 2   open        1083 non-null   float64
 3   high        1083 non-null   float64
 4   low         1083 non-null   float64
 5   close       1083 non-null   float64
 6   pre_close   1083 non-null   float64
 7   change      1083 non-null   float64
 8   pct_chg     1083 non-null   float64
 9   vol         1083 non-null   float64
 10  amount      1083 non-null   float64
 11  time        1083 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 101.7+ KB

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
time,,,,,,,,,,,
2023-06-19,601888.SH,20230619,129.50,129.73,126.76,127.30,130.16,-2.86,-2.1973,169945.93,2172702.862
2023-06-16,601888.SH,20230616,130.50,131.00,127.28,130.16,130.00,0.16,0.1231,275685.71,3558988.188
2023-06-15,601888.SH,20230615,121.38,130.90,120.20,130.00,121.13,8.87,7.3227,457500.11,5788862.155
2023-06-14,601888.SH,20230614,121.47,124.31,120.33,121.13,120.80,0.33,0.2732,251451.67,3076538.873
2023-06-13,601888.SH,20230613,119.50,121.20,118.60,120.80,120.01,0.79,0.6583,142710.83,1711753.043

In [3]:
# (收盘-开盘) / 开盘 >0.03

df= df.loc[(df['close'] - df['pre_close']) /df['pre_close'] > 0.03]
df.index

DatetimeIndex(['2023-06-15', '2023-01-05', '2022-12-01', '2022-11-29',
               '2022-11-11', '2022-11-04', '2022-11-02', '2022-11-01',
               '2022-09-27', '2022-09-26',
               ...
               '2019-05-15', '2019-05-10', '2019-04-29', '2019-03-29',
               '2019-03-28', '2019-03-18', '2019-02-14', '2019-02-13',
               '2019-02-11', '2019-01-15'],
              dtype='datetime64[ns]', name='time', length=149, freq=None)

In [4]:
#(df['open'] - df['close'].shift(1)) /df['close'].shift(1) < -0.02
df= df.loc[(df['open'] - df['close'].shift(1)) /df['close'].shift(1) < -0.02]
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
time,,,,,,,,,,,
2022-12-01,601888.SH,20221201,211.00,213.2,200.80,204.00,197.48,6.52,3.3016,241032.86,4952023.694
2022-11-29,601888.SH,20221129,184.01,197.9,183.50,194.97,183.86,11.11,6.0426,204900.63,3920238.617
2022-11-04,601888.SH,20221104,182.50,199.0,182.42,197.09,182.61,14.48,7.9295,230569.38,4466993.240
2022-11-02,601888.SH,20221102,175.50,190.6,174.03,182.30,176.40,5.90,3.3447,293151.94,5330716.124
2022-11-01,601888.SH,20221101,160.18,176.4,156.51,176.40,160.36,16.04,10.0025,207563.80,3471948.726

In [5]:
df.index
new_df = df.loc['2020-01':'2023-01']
new_df.head(2)
df_monthly = new_df.resample('M').first()
df_monthly

C:\Users\admin\AppData\Local\Temp\ipykernel_15236\2193481675.py:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  new_df = df.loc['2020-01':'2023-01']

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
time,,,,,,,,,,,
2020-02-29,601888.SH,20200205.0,77.70,78.47,76.14,77.78,75.08,2.70,3.5962,259335.51,2003658.818
2020-03-31,601888.SH,20200305.0,79.90,84.83,79.90,84.11,79.06,5.05,6.3876,258300.99,2137294.451
2020-04-30,601888.SH,20200402.0,68.50,72.00,68.11,71.83,68.53,3.30,4.8154,124682.40,878208.506
2020-05-31,601888.SH,20200525.0,86.78,89.94,85.90,88.79,86.17,2.62,3.0405,110380.86,976285.697
2020-06-30,601888.SH,20200605.0,99.86,108.08,99.86,106.41,99.92,6.49,6.4952,174327.35,1827206.274
2020-07-31,601888.SH,20200701.0,158.15,168.18,154.90,167.28,154.03,13.25,8.6022,290700.88,4701863.807
2020-08-31,601888.SH,20200825.0,207.79,216.80,203.59,210.31,203.52,6.79,3.3363,173897.85,3678078.746
2020-09-30,601888.SH,20200910.0,200.99,208.00,200.45,205.60,197.18,8.42,4.2702,138661.47,2846403.296
2020-10-31,601888.SH,20201028.0,190.00,201.00,188.11,198.41,184.81,13.60,7.3589,180517.26,3524103.657
2020-11-30,601888.SH,20201119.0,175.72,184.58,174.00,183.31,175.25,8.06,4.5991,159122.26,2890863.457
2020-12-31,601888.SH,20201207.0,197.00,208.98,195.50,207.75,196.43,11.32,5.7629,178176.11,3645248.607
2021-01-31,601888.SH,20210104.0,282.00,300.62,281.75,292.25,282.45,9.80,3.4696,140347.48,4127327.801
2021-02-28,601888.SH,20210201.0,307.90,315.87,298.00,306.00,294.00,12.00,4.0816,203642.09,6250768.198
2021-03-31,601888.SH,20210310.0,291.00,304.88,290.01,299.62,282.29,17.33,6.1391,169336.09,5057281.953
2021-04-30,601888.SH,20210401.0,308.70,321.95,306.30,321.95,306.08,15.87,5.1849,89282.75,2807005.785
2021-05-31,601888.SH,20210510.0,289.35,303.00,289.35,298.89,288.00,10.89,3.7813,87718.14,2618300.311
2021-06-30,601888.SH,20210623.0,289.00,300.27,288.98,296.90,286.49,10.41,3.6336,166550.36,4955347.839
2021-07-31,601888.SH,20210712.0,271.00,287.00,264.12,285.70,265.16,20.54,7.7463,203295.83,5691852.395
2021-08-31,601888.SH,20210803.0,236.36,255.36,235.74,253.87,239.35,14.52,6.0664,201578.21,5025146.133
2021-09-30,601888.SH,20210901.0,228.79,240.17,224.00,236.29,228.29,8.00,3.5043,154780.59,3626276.605
2021-10-31,601888.SH,20211008.0,272.00,275.40,267.01,270.30,260.00,10.30,3.9615,158293.28,4303197.664
2021-11-30,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,601888.SH,20211206.0,209.16,213.60,207.00,211.99,204.06,7.93,3.8861,198125.43,4178501.735
2022-01-31,601888.SH,20220121.0,197.00,203.00,196.80,200.66,193.88,6.78,3.4970,155631.49,3112539.312
2022-02-28,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-31,601888.SH,20220316.0,163.80,170.58,161.72,170.00,160.00,10.00,6.2500,191153.51,3175698.640
2022-04-30,601888.SH,20220401.0,162.64,177.30,162.22,174.26,164.37,9.89,6.0169,193001.45,3331938.288
2022-05-31,601888.SH,20220510.0,156.00,168.40,155.18,165.95,160.00,5.95,3.7188,151649.64,2477067.809
2022-06-30,601888.SH,20220606.0,177.00,181.53,172.42,180.97,175.39,5.58,3.1815,147917.44,2632981.473
2022-07-31,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-08-31,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-09-30,601888.SH,20220920.0,190.01,195.00,187.70,194.23,188.45,5.78,3.0671,83216.47,1600419.744
2022-10-31,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-11-30,601888.SH,20221101.0,160.18,176.40,156.51,176.40,160.36,16.04,10.0025,207563.80,3471948.726
2022-12-31,601888.SH,20221201.0,211.00,213.20,200.80,204.00,197.48,6.52,3.3016,241032.86,4952023.694

In [6]:
cost = df_monthly['open'].sum()*100
cost
df_yearly = new_df.resample('A').last()[:-1]
resv = df_yearly['open'].sum()*1200
last_money = 400*new_df['close'][-1]
resv+ last_money - cost

11599.999999999767